<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eden_western_food</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/helper_scripts.js"> </script>
    <script src="~/js/ajax_client_side.js" defer></script>
    <style> 
        .menu_items:hover {
            color: blue;
        }

        .menu_items {
            cursor: pointer;
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <div class="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>